@media (max-width: 700px) {
  .header {
    width: 375px;
    height: 70px;
  }
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 18px;
  }
  .moviesinput {
    width: 75%;
  }
  .moviestable {
    font-size: 100%;
    margin-left: 0;
  }
  .scrollButton {
    width: 60px;
    height: 60px;
    font-size: 150%;
  }
}
@media (max-width: 400px) {
  .header {
    width: 300px;
    height: 55px;
  }
  .title {
    font-size: 16px;
  }
  .subtitle {
    font-size: 14px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
