$first-breakpoint-width: 960px;
$second-breakpoint-width: 590px;
$third-breakpoint-width: 530px;
$fourth-breakpoint-width: 450px;

$first-breakpoint-height: 590px;
$second-breakpoint-height: 430px;

@media (max-width: $first-breakpoint-width) {
  .movies,
  .zywiectable {
    .header {
      // height: 70px;
      .title {
        font-size: 20px;
      }
      .subtitle {
        font-size: 18px;
      }
    }
    .moviestable {
      left: 15%;
      top: 150px;
    }
  }
  .scrollButton {
    width: 60px;
    height: 60px;
    font-size: 150%;
  }
}
@media (max-width: $second-breakpoint-width) {
  .movies,
  .zywiectable {
    .header {
      // height: 60px;
      .title {
        font-size: 18px;
      }
      .subtitle {
        font-size: 16px;
      }
    }
    .moviesinput {
      width: 65%;
    }
    .moviestable {
      font-size: 100%;
      left: 10%;
    }
  }
}
@media (max-width: $third-breakpoint-width) {
  .movies,
  .zywiectable {
    .header {
      .title {
        font-size: 16px;
      }
      .subtitle {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: $fourth-breakpoint-width) {
  .movies {
    .moviestable {
      font-size: 80%;
    }
  }
}

@media (max-height: $first-breakpoint-height) {
  .movies {
    .moviestable {
      column-count: 2;
      text-align: left;
    }
  }
}
@media (max-height: $second-breakpoint-height) {
  .movies {
    .header {
      margin: 10px;
    }
    .moviestable {
      column-count: 3;
      left: 5%;
      top: 150px;
    }
  }
  @media (max-width: $first-breakpoint-width) {
    .movies {
      .moviestable {
        top: 120px;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
