@import "./skeleton";

$moviesTextColor: rgba(228, 227, 190, 1);

.movies,
.zywiectable {
  padding: 30px 0 0 30px;
  .header {
    @include transform(600px, 0 50% 30px 50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    height: 90px;
    border-radius: 60px;
    .title {
      text-align: center;
      font-size: 32px;
      color: $moviesTextColor;
    }
    .subtitle {
      text-align: center;
      font-size: 24px;
      color: $moviesTextColor;
    }
  }
  .moviesinput {
    width: 30%;
    height: 32px;
    border-radius: 5px;
  }
  .moviestable {
    font-size: 125%;
    text-align: justify;
    margin: 3% 0 0 30%;
  }

  .busSelect,
  .stopSelect {
    width: 200px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
  }
  .timetable {
    text-align: left;
    margin: 2% 0 0 50%;
    transform: translate(-150px);
    .table-rozklad {
      margin-bottom: 5px;
      background-color: rgba(162, 110, 190, 0.69);
      border-radius: 15px;
      width: 300px;
    }
  }
}
