@import "./skeleton";

$moviesTextColor: rgb(0, 0, 0);

@mixin fullScreen() {
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
}

.movies,
.zywiectable {
  @include fullScreen();
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    text-align: center;
    background-color: rgb(208, 220, 225);
    height: 90px;
    width: 55%;
    margin: 30px 0 15px 0;
    border: 3px solid rgb(190, 187, 187);
    border-radius: 20px;
    .title {
      text-align: center;
      font-size: 32px;
      color: $moviesTextColor;
    }
    .subtitle {
      text-align: center;
      font-size: 24px;
      color: $moviesTextColor;
    }
  }
  .moviesinput {
    width: 45%;
    height: 32px;
    border-radius: 5px;
  }
  .moviestable {
    font-size: 120%;
    text-align: justify;
    position: absolute;
    top: 182px;
    left: 25%;
    .singleMovieInfo {
      padding: 2px;
    }
  }

  .selectors {
    display: block;
    .busSelect,
    .stopSelect {
      width: 200px;
      height: 30px;
      text-align: center;
      margin-left: 10px;
    }
  }

  .timetable {
    text-align: left;
    margin-top: 2%;
    .table-rozklad {
      margin-bottom: 5px;
      background-color: rgba(162, 110, 190, 0.69);
      border: 2px solid black;
      border-radius: 15px;
      width: 300px;
      td {
        border-right: 1px solid black;
        border-top: 1px solid black;
      }
      .linia {
        border-style: none;
      }
    }
  }
}
