.skeleton {
  opacity: 0.7;
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
          animation: skeleton-loading 1s linear infinite alternate;
}

.moviestableSkeleton {
  width: 500px;
  height: 300px;
  font-size: 125%;
  text-align: justify;
}

.moviestableSkeleton .skeleton-text {
  margin: 0 0 5px;
  width: 100%;
  height: 32px;
  border-radius: 15px;
}

.timetableSkeleton {
  width: 300px;
  height: 600px;
  border-radius: 15px;
}

.legendSkeleton {
  width: 300px;
  height: 100px;
  border-radius: 15px;
}

.movies,
.zywiectable {
  width: 100vw;
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movies .header,
.zywiectable .header {
  text-align: center;
  background-color: #d0dce1;
  height: 90px;
  width: 55%;
  margin: 30px 0 15px 0;
  border: 3px solid #bebbbb;
  border-radius: 20px;
}

.movies .header .title,
.zywiectable .header .title {
  text-align: center;
  font-size: 32px;
  color: black;
}

.movies .header .subtitle,
.zywiectable .header .subtitle {
  text-align: center;
  font-size: 24px;
  color: black;
}

.movies .moviesinput,
.zywiectable .moviesinput {
  width: 45%;
  height: 32px;
  border-radius: 5px;
}

.movies .moviestable,
.zywiectable .moviestable {
  font-size: 120%;
  text-align: justify;
  position: absolute;
  top: 182px;
  left: 25%;
}

.movies .moviestable .singleMovieInfo,
.zywiectable .moviestable .singleMovieInfo {
  padding: 2px;
}

.movies .selectors,
.zywiectable .selectors {
  display: block;
}

.movies .selectors .busSelect,
.movies .selectors .stopSelect,
.zywiectable .selectors .busSelect,
.zywiectable .selectors .stopSelect {
  width: 200px;
  height: 30px;
  text-align: center;
  margin-left: 10px;
}

.movies .timetable,
.zywiectable .timetable {
  text-align: left;
  margin-top: 2%;
}

.movies .timetable .table-rozklad,
.zywiectable .timetable .table-rozklad {
  margin-bottom: 5px;
  background-color: rgba(162, 110, 190, 0.69);
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
}

.movies .timetable .table-rozklad td,
.zywiectable .timetable .table-rozklad td {
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.movies .timetable .table-rozklad .linia,
.zywiectable .timetable .table-rozklad .linia {
  border-style: none;
}

@media (max-width: 960px) {
  .movies .header,
  .zywiectable .header {
    height: 70px;
  }
  .movies .header .title,
  .zywiectable .header .title {
    font-size: 20px;
  }
  .movies .header .subtitle,
  .zywiectable .header .subtitle {
    font-size: 18px;
  }
  .movies .moviestable,
  .zywiectable .moviestable {
    left: 15%;
  }
  .scrollButton {
    width: 60px;
    height: 60px;
    font-size: 150%;
  }
}

@media (max-width: 590px) {
  .movies .header,
  .zywiectable .header {
    height: 60px;
  }
  .movies .header .title,
  .zywiectable .header .title {
    font-size: 18px;
  }
  .movies .header .subtitle,
  .zywiectable .header .subtitle {
    font-size: 16px;
  }
  .movies .moviesinput,
  .zywiectable .moviesinput {
    width: 65%;
  }
  .movies .moviestable,
  .zywiectable .moviestable {
    font-size: 100%;
    left: 10%;
  }
}

@media (max-width: 530px) {
  .movies .header .title,
  .zywiectable .header .title {
    font-size: 16px;
  }
  .movies .header .subtitle,
  .zywiectable .header .subtitle {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .movies .moviestable {
    font-size: 80%;
  }
}

@media (max-height: 590px) {
  .movies .moviestable {
    -webkit-column-count: 2;
            column-count: 2;
    text-align: left;
  }
}

@media (max-height: 430px) {
  .movies .moviestable {
    -webkit-column-count: 3;
            column-count: 3;
    left: 5%;
  }
}

@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2;
  }
  100% {
    background-color: #f0f3f5;
  }
}

* {
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MZKfetch {
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  width: 100vw;
  background-color: rgba(99, 0, 105, 0.15);
  text-align: center;
}

.moviesfetch {
  width: 100vw;
  min-height: 100vh;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  text-align: center;
}

.error {
  text-align: center;
  margin: 100px;
  height: 200px;
}

.scrollButton {
  width: 66px;
  height: 66px;
  position: absolute;
  bottom: 2%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: solid 5px black;
  border-radius: 50%;
  font-size: 200%;
  -webkit-transition: ease 500ms all;
  transition: ease 500ms all;
}

.scrollButton:hover {
  font-size: 250%;
  cursor: pointer;
  background-color: #ffc3ff;
}

.scrollButton:active {
  background-color: #ff63ff;
}
/*# sourceMappingURL=index.css.map */